
body { font-family: Arial, sans-serif; 
}
.container { background-image: url(/imagenes/calculadora.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px; 
    color: rgb(243, 247, 51);
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
}
h1 {
    font-size: 45px;
    color: #b60d0d;
    font-family: 'Caveat';
    position: relative;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #e0d206;
    animation: underline 1.5s ease forwards;
}
@keyframes underline {
    0% { width: 0; }
    100% { width: 100%; }
}
p{color:black;
font-size: 20px;
text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
font-weight: bold;}
label {
    font-size: 25px; 
    display: block; 
}
.signo{
    border-radius: 10px;
    padding: 10px;
    width: 15%;
}
input, select {background-image: radial-gradient(circle at 20% 20%, #eb843166 10%, #ffcc7000 50%), radial-gradient(circle at 80% 80%, #fbef06 10%, #a22908df 50%),
    radial-gradient(ellipse at 35% 70%, #ce492866 10%, #d7da2300 50%), radial-gradient(ellipse at 70% 35%, #ff005d66 10%, #926628 60%);
}
button { background-image: radial-gradient(circle at 20% 20%, #eb843166 10%, #ffcc7000 50%), radial-gradient(circle at 80% 80%, #fbef06 10%, #a22908df 50%),radial-gradient(ellipse at 35% 70%, #ce492866 10%, #d7da2300 50%), radial-gradient(ellipse at 70% 35%, #ff005d66 10%, #926628 60%);
    background-size: 250% 250%;
}