*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --brandYellow: #F9BD38;
    --brandBlue: #7FA8D6;
    --brandGreen: #49a894;
    --brandBlack: #010215;
    --brandRed: #F94936;
    --fontTitle: "futura-pt-condensed", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--brandBlack);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.main-content {
    flex: 1;
}
body {
}
h1 {
    font-family: var(--fontTitle);
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1;
    margin: 65vh 0; 
}
/*                       HEADER                       */
header { height: 100vh;
}
.intro {
    text-align: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.intro h1, .intro img {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

/*                       Section                            */
.paralax-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.hero-header {
    position: relative;
    height: 100vh; 
    overflow: hidden;
}
#hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}
.paralax-title {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    z-index: 2; 
    font-size: 3.5em; 
    font-family: 'Arial', sans-serif; 
    text-shadow: 2px 2px 4px ; 
    text-align: center;
    
}
.paralax img, .paralax {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
/* Fuego*/
.fuego-wrapper2 {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.img1 {
    position: absolute;
    margin-right: 3rem;
    transform: translate(-50%, -50%);
    width: 55%;
    margin-top:52%;
    left: 25%;
    z-index: 2;
    cursor:pointer;
}

#-video2 {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 70%;
    left: 0;
    z-index: 1; 
}
.-title2 {
    position: absolute;
    flex-direction: column;
    top: 70%;
    left: 80%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transform-origin: center;
    color: white; 
    z-index: 2; 
    width: max-content;
    margin: 9rem 0 0 0;
    text-transform: uppercase;
    font-family: var(--fontTitle);
    font-size: 7rem;
    text-shadow: 2px 2px 4px rgba(217, 67, 67, 0.551); 
    text-align: center;
    cursor: url(imagenes/images-Photoroom.ico), auto;
}
.-title2:hover{transform: translate(-10%, -10%) scale(0.5);}

.img, .fuego {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
/* Tierra */
.paralax-wrapper3 {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.hero-header3 {
    position: relative;
    height: 100vh; 
    overflow: hidden;
}
#hero-video3 {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 222%;
    left: 0;
    z-index: 1; 
}
.paralax-title3 {
    position: absolute;
    top: 1530px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    z-index: 2; 
    font-size: 3em; 
    font-family: 'Arial', sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    text-align: center;
}
.paralax img, .paralax3 {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
/* Aire */
.paralax-wrapper4 {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.hero-header4 {
    position: relative;
    height: 100vh; 
    overflow: hidden;
}
#hero-video4 {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 1900px;
    left: 0;
    z-index: 1; 
}
.paralax-title4 {
    position: absolute;
    top: 2130px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    z-index: 2; 
    font-size: 3em; 
    font-family: 'Arial', sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    text-align: center;
}
.paralax img, .paralax4 {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
/* Agua */
.paralax-wrapper5 {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.hero-header5 {
    position: relative;
    height: 100vh; 
    overflow: hidden;
}
#hero-video5 {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 2500px;
    left: 0;
    z-index: 1; 
}
.paralax-title5 {
    position: absolute;
    top: 2700px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    z-index: 2; 
    font-size: 3em; 
    font-family: 'Arial', sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    text-align: center;
}
.paralax img, .paralax5 {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
/*  FOOTER                   */
.footer ul {
    list-style-type:none; 
}
.footer{
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
    height: 30vh;
    left: 1%;
    top:3170px;
    background-color: #1a1a41;
    background-image: radial-gradient(circle at 20% 20%, #ffcc7066 10%, #ffcc7000 50%), radial-gradient(circle at 80% 80%, #0033ff66 10%, #0033ff00 50%),
		radial-gradient(ellipse at 35% 70%, #00ff4866 10%, #00ff4800 50%), radial-gradient(ellipse at 70% 35%, #ff005d66 10%, #ff005d00 60%);
}
.end-footer{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.end-footer div img{
    display: flex;
    margin-bottom: 15%;
    margin-left: 35%;
}
.img-container ul{
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
    margin-left: -4%;
}
.img-container ul li{ 
    padding-left: 1rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}
.medium {
    padding-left: 1rem; 
    display: flex;
    flex-direction: row; 
    margin-top: 3%; 
    margin-left: -3%;
    width: 30%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;}
    .medium ul li {
        display: flex;
        flex-direction: column; 
        color:white; 
        padding-bottom: 22%;}
        .medium ul li a{
            color:white;
            text-decoration: none;}
.form{
    display: flex; 
    flex-direction: column;
    width: 30%;}
        .form-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 11%;}

.input1{ 
    border-radius: 50px;
    width: 50%;
    padding: 0% 2%;
    margin-right: 1%;
    height: 2.75rem ;}
.button-footer{ 
    display: flex;
    width: 20%;
    margin-left: 5%;
}
.button{cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 6vh;
        background: burlywood;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 50px ;
        flex: none;
        font-family: "Be Vietnam";
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem; 
        margin-left:-10%;
        color: #FFFFFF;
}
.calculadora-container{
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    color: #8C8C94;
    margin-top: 10%;
    margin-left: 24%;
    width: 100%;}

.calculadora{cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 6vh;
    background: burlywood;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px ;
    flex: none;
    font-family: "Be Vietnam";
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem; 
    margin-left:-10%;
    color: #FFFFFF;
}



